@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.container {
  background-color: peru;
}

.choice:hover {
  background-color: purple;
}